@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
    font-family: 'Outfit', sans-serif;
}

html, body {
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    background-color: hsl(217, 54%, 11%);
}

.font-size-14 {
    font-size: 14px;
}
.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 24px;
}
.color-cyan {
 color: hsl(178, 100%, 50%);
}

.color-soft-blue {
    color:  hsl(215, 51%, 70%);
}

.color-white {
color: white;
}
